.button{
	box-sizing: border-box;
	border:none;
	border-radius: 5px;
	padding: 10px 20px;
	
	background-color: rgb(206, 166, 206);
	font-size: 2em;

	cursor: pointer;
	transition: transform 0.05s ease; /* adds a 0.05s ease transform */
}

.button:hover{
	background-color: rgba(206, 166, 206, 0.644);
}

.button:active {
	transform: scale(0.95);           /* Slightly smaller */
}